.notification {
    background-color: #E3F2FD;
    color: #1976D2;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .notificationText {
    margin: 0;
    font-size: 1.1rem;
  }