.siteHeader {
  max-width: 1440px;
    margin: 0 24px 0 24px;
}

.wrapper {
  padding: 24px 652px 24px 64px;
  background-color: #f8f9fa;
}

.mainNav {
  display: flex;
  align-items: center;
  gap: 450px;
}

.navLink {
  text-decoration: none; 
  color: inherit;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #333; 
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #e9ecef;
}

.active {
  color: #E44848;
}