.mainWrapper {
  display: flex;
  margin: 40px;
}

.ranksColumn {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center; 
  width: 25px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  height: 400px;
}

.rankLabel {
  height: 12.5%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  box-sizing: border-box;
}

.boardWrapper {
  display: flex;
  flex-direction: column;
}

.chessBoard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filesRow {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 25px; 
  width: 400px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.fileLabel {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}