.formContainer {
  /* ... існуючі стилі ... */
  padding: 24px; 
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.formTitle {
  font-size: 24px;
  font-weight: 600; 
  line-height: 1.25;
  margin-bottom: 8px;
  color: #1A1A1A;
}

.formSubtitle {
  font-size: 16px;
  line-height: 1.25;
  color: #4A4A4A;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px; 
}

.inputField {
  width: 100%;
  padding: 18px; 
  border: 1px solid #D9D9D9;
  border-radius: 5px; 
  font-size: 16px;
  color: #1A1A1A;
  box-sizing: border-box; 
  background-color: #F7F7F7; 
}

.inputField::placeholder {
  color: #4A4A4A; 
}

.inputError {
  border-color: #e74c3c;
}

.errorMessage {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -10px; 
  margin-bottom: 5px;
}

.datePickerInput {
  width: 100%; 
  border: none;
  background-color: transparent;
  padding: 0; 
  font-size: 16px;
  color: #1A1A1A;
  outline: none; 
}

.datePickerCalendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submitButton {
  background-color: #E44D26; 
  color: white;
  padding: 16px 24px; 
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submitButton:hover {
  background-color: #C0392B; 
}